#---------------------------------------------------------------------
# Example configuration for a possible web application.  See the
# full configuration options online.
#
#   http://haproxy.1wt.eu/download/1.4/doc/configuration.txt
#
#---------------------------------------------------------------------

#---------------------------------------------------------------------
# Global settings
#---------------------------------------------------------------------
global
    # to have these messages end up in /var/log/haproxy.log you will
    # need to:
    #
    # 1) configure syslog to accept network log events.  This is done
    #    by adding the '-r' option to the SYSLOGD_OPTIONS in
    #    /etc/sysconfig/syslog
    #
    # 2) configure local2 events to go to the /var/log/haproxy.log
    #   file. A line like the following can be added to
    #   /etc/sysconfig/syslog
    #
    #    local2.*                       /var/log/haproxy.log
    #
    log         127.0.0.1 local2

    chroot      /var/lib/haproxy
    pidfile     /var/run/haproxy.pid
    maxconn     4000
    user        haproxy
    group       haproxy
    daemon

    # turn on stats unix socket
    stats socket /var/lib/haproxy/stats

#---------------------------------------------------------------------
# common defaults that all the 'listen' and 'backend' sections will
# use if not designated in their block
#---------------------------------------------------------------------
defaults
    mode                    http
    log                     global
    option                  httplog
    option                  dontlognull
    option http-server-close
    option forwardfor       except 127.0.0.0/8
    option                  redispatch
    retries                 3
    timeout http-request    10s
    timeout queue           1m
    timeout connect         10s
    timeout client          1m
    timeout server          1m
    timeout http-keep-alive 10s
    timeout check           10s
    maxconn                 3000

#---------------------------------------------------------------------
# main frontend which proxys to the backends
#---------------------------------------------------------------------
frontend  main *:80
    acl url_files path_beg /files
    acl url_business_central_621 path_beg /business-central-621
    acl url_business_central_622 path_beg /business-central

    use_backend files if url_files
    use_backend business_central_621 if url_business_central_621
    use_backend business_central_622 if url_business_central_622

    default_backend app

#---------------------------------------------------------------------
# static to the file server
#---------------------------------------------------------------------
backend files
    balance roundrobin
    mode http
    server static 172.18.127.32:80 check


#---------------------------------------------------------------------
# Business Central 6.2.1
#---------------------------------------------------------------------
backend business_central_621
    balance roundrobin
    mode http
    server static 172.18.127.40:8080 check

#---------------------------------------------------------------------
# Business Central 6.2.2
#---------------------------------------------------------------------
backend business_central_622
    balance roundrobin
    mode http
    server static 172.18.127.13:8080 check

#---------------------------------------------------------------------
# round robin to a blog or something in the future
#---------------------------------------------------------------------
backend app
    balance roundrobin
    mode http
    server app1 www.redhat.com:80

